div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	@include transition(all ease-out .3s);
}
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; }
.clear {clear: both;}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}
body {
	background: $color_dark_grey;
}
.site {
	color: $color__text-main;
	background: #FFF;
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo {
	width: 190px;
	margin: 0 auto;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		margin: 0 0;
		float: left;
	}
	@media screen and (min-width: $midwidth) {
		width: 260px;
		top: -3px;
	}
	a,img {
		width: 100%;
		height: auto;
		float: left;
	}
	a {
		padding: 10px 0;
	}
}
.site-header {
	position: relative;
	z-index: 200;
	.top-info {
		width: 100%;
		background: $color_grey;
		color: #FFF;
	}
	ul.cats {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			padding-top: 3px;
			padding-bottom: 3px;
			@media screen and (min-width: $tabwidth) {
				padding-top: 6px;
				padding-bottom: 6px;
			}
		}
		a {
			text-decoration: none;
			display: inline-block;
			padding: 0 10px;
			color: #FFF;
			font-size: 12px;
			font-weight: 300;
			text-transform: uppercase;
			position: relative;
			@media screen and (min-width: $tabwidth) {
				font-size: 14px;
				padding: 0 20px;
				&:after {
					content:"";
					display: block;
					width: 1px;
					height: 70%;
					background: #FFF;
					position: absolute;
					top: 4px;
					left: -2px;
				}
			}
			
			&:hover {
				opacity: .45;
			}
		}
	}
	ul.cats > li:first-child a {
		&:after {
			display: none;
		}
	}
	.wrapper.navi {
		padding: 5px 0;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-items(center);
			padding-left: 20px;
			padding-right: 20px;
		}
		.left {
			width: 100%;
			float: left;
			margin: 10px 0 5px;
			@media screen and (min-width: $tabwidth) {
				width: 30%;
				margin: 0 0;
			}
		}
		.right {
			width: 100%;
			float: left;
			@media screen and (min-width: $tabwidth) {
				width: 70%;
			}
		}
	}
}
.home .site-header {
	border-bottom: 2px solid $color_lime;
}
.site-footer {
	background: $color_dark_grey;
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	padding: 30px 0;
	.flexbox {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-align-items(center);
	}
	a {
		color: #FFF;
		text-decoration: none;
	}
	.col {
		width: 100%;
	}
	.col.left {
		@include sm {
			width: 65%;
		}
		@include md {
			width: 65%;
		}
		@include lg {
			width: 75%;
		}
	}
	.col.right {
		text-align: center;
		@include sm {
			text-align: right;
			width: 35%;
		}
		@include md {
			text-align: right;
			width: 35%;
		}
		@include lg {
			text-align: right;
			width: 25%;
		}
		.wrap {
			display: inline-block;
			text-align: left;
			@include sm {
				float: right;
			}
		}
	}
	.foot-title {
		font-size: 14px;
		color: $color_lime;
		text-transform: uppercase;
		margin-bottom: 10px;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			text-align: left;
		}
	}
	.social-links {
		text-align: center;
		margin-top: 20px;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			text-align: right;
			float: right;
			margin-top: 0;
		}
		.foot-title {
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				text-align: left;
			}
		}
	}
	.social-links a {
		display: inline-block;
		font-size: 30px;
    	margin-left: 10px;
    	margin-right: 10px;
    	@media screen and (min-width: $tabwidth) {
    		font-size: 28px;
    		margin-left: 18px;
    		margin-right: 0;
    	}
    	&:hover {
    		color: $color_lime;
    	}
	}
	.social-links a.first {
		margin-left: 0;
	}
	.enquiry-email {
		text-align: center;
		margin-top: 10px;
		@media screen and (min-width: $tabwidth) {
			text-align: right;
		}
		a {
			color: $color_lime;
			font-size: 14px;
		}
		&.bw {
			text-align: left;
			a {
				font-size: 10px;
			}
		}
	}
}

.locations-list {
	.locations {
		width: 100%;
		float: left;
	}
	.name {
		display: block;
		width: 100%;
		color:  $color_lime;
	}
	.address {
		display: block;
		width: 100%;
		font-style: normal;
		margin: 0 0;
		&.with-chev {
			position: relative;
			svg {
				width: 10px;
				position: absolute;
				right: -5px;
				top: 35%;
				transition: all ease .2s;
			}
			&:hover {
				svg {
					right: -15px;
				}
			}
		}
	}
	.telephone {
		display: block;
		width: 100%;
	}
	.flexrow {
		@media screen and (min-width: $tabwidth) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.flexbox {
		text-align: center;
		padding: 20px 0;
		word-wrap: break-word;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			padding: 0 15px 15px;
			text-align: left;
			margin-bottom: 20px;
		}
		@media screen and (min-width: $midwidth) {
			// width: 24.95%;
			width: 32.95%;
			padding: 0 15px;
		}
		@media screen and (min-width: $deskwidth) {
			width: 19.95%;
			padding: 0 15px;
		}
	}
}
.sr-only {
	width: 1px;
	height: 1px;
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	z-index: -999;
}
