h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
	color: $color_grey;
}
h2 {
	font-size: 25px;
    letter-spacing: 1px;
}
.text-center{text-align:center;}
.default-temp {
	margin-top: 0;
	padding-top: 10px;
	@media screen and (min-width: $tabwidth) {
		margin-top: 14px;
		padding-top: 15px;
	}
	.site-main {
		min-height: 30em;
		padding-bottom: 50px;
	}
	&.border-top {
		padding-top: 0;
		margin-top: 0;
		border-top: 2px solid $color-lime;
	}
}
.site-main {
	font-size: 14px;
	line-height: 1.6;
	font-weight: 400;
}

.flexrow {
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.flexbox {
		box-sizing: border-box;
		position: relative;
	}
}
.catflex {
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
	margin-left: -15px;
	margin-right: -15px;
	.category {
		padding: 15px;
		overflow: hidden;
		@include sm {
			width: 33.3%;
		}
	}
	.link {
		text-decoration: none;
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #333;
		span {
			@include transition( all ease-in-out .3s);
		}
		.bg {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #909090;
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background: rgba(0,0,0,0.2);
				@include transition( all ease-in-out .3s);
			}
		}
		&:hover {
			.bg {
				@include transform(scale(1.1));
				&:before {
					background: rgba(0,0,0,0.75);
				}
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		float: left;
		visibility: hidden;
	}
	.catname {
		display: block;
		z-index: 10;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #a4dc1b;
		box-sizing: border-box;
		padding: 10px 15px;
		font-size: 25px;
		text-transform: uppercase;
		text-align: center;
		text-shadow: 0px 2px 5px rgba(0,0,0,0.6);
		@include flexbox();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
	}
}

.slides-wrap {
	position: relative;
	height: 300px;
	@media screen and (min-width: $tabwidth) {
		height: 400px;
	}
	@media screen and (min-width: $midwidth) {
		height: 600px;
	}
	@media screen and (min-width: $deskwidth) {
		height: 660px;
	}
	@media screen and (min-width: $extrawidth) {
		height: 700px;
	}
	.sliders {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.flex-viewport,
	.sliders, .slide, .slide-image {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.slide-image {
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.flex-nav-prev, .flex-nav-next {
		position: absolute;
		top: 0;
		width: 30px;
		height: 100%;
		z-index: 50;
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		a {
			opacity: 1;
			text-align: center;
		}
	}
	.flex-nav-prev {
		left: 0;
		a {
			left: 0;
		}
	}
	.flex-nav-next {
		right: 0;
		a {
			right: 0;
		}
	}
	.flex-direction-nav a:before {
		font-size: 25px;
		color: #FFF;
		text-shadow: none;
	}
	.flex-control-nav {
		bottom: 5px;
	}
	.flex-control-paging li a {
		box-shadow: none;
		width: 10px;
		height: 10px;
		border:1px solid #FFF;
		background: rgba(255,255,255,.1);
		&.flex-active {
			background: $color_lime;
		}
	}
}

.tagline {
	font-size: 25px;
	font-weight: 300;
	line-height: 1.3;
	color: $color_grey;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		font-size: 28px;
		margin-bottom: 50px;
	}
}
.section-title {
	color: $color_lime;
	margin: 0 0;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.homecontent {
	padding: 40px 0 55px;
	.two-columns {
		width: 100%;
		float: left;
	}
	.section-title {
		margin-bottom: 5px;
	}
	.section-text {
		font-size: 14px;
		font-weight: 400;
	}
	.flexrow {
		position: relative;
		@media screen and (min-width: $tabwidth) {
			margin-left: -30px;
			margin-right: -30px;
			&:after {
				content:"";
				display: block;
				width: 51%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-right: 2px solid $color_grey;
			}
		}
		@media screen and (min-width: $midwidth) {
			margin-left: -40px;
			margin-right: -40px;
		}
	}
	.flexbox {
		position: relative;
		z-index: 10;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			padding: 0 30px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 0 40px;
		}
	}
	.col1 {
		margin-bottom: 35px;
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 0;
		}
		.section-title {
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				text-align: left;
			}
		}
	}
	ul.disciplines {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		text-align: center;
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-align-items(flex-start);
		.icon {
			display: inline-block;
			width: 60px;
			height: 60px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	ul.disciplines li {
		display: inline-block;
		width: 50%;
		margin: 20px 0;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
		}
		@media screen and (min-width: $midwidth) {
			width: 25%;
			margin: 0 0;
		}
		img {
			width: 100px;
			height: auto;
		}
	}
	.dtext {
		font-size: 14px;
		line-height: 1.3;
		color: $color_lime;
	}
	.col2 .section-title {
		margin-bottom: 20px;
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 40px;
		}
	}
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	border: none;
	-webkit-appearance: none;
	background: $color-red;
	padding: 10px 25px;
	border-radius: 5px;
	box-shadow: none;
	text-shadow: none;
	color: #FFF;
	font-family: $font-heading;
	font-size: 18px;
	text-transform: uppercase;
	@include transition(all ease .3s);
	&:hover {
		background: #ef3b3f;
	}
}

.gform_wrapper {
	ul li.gfield { 
		position: relative;
	}
	.select2-container .select2-selection--single,
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 43px;
		@media screen and (min-width: $tabwidth) {
			height: 35px;
		}
	}
	.select2-container .select2-selection--single {
		border: 1px solid #CCC;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 33px;
		@media screen and (min-width: $tabwidth) {
			line-height: 35px;
		}
	}
	.select2-container--default {
		margin-bottom: 0!important;
	}
	.select2-container--default .select2-selection--single .select2-selection__placeholder {
		line-height: 40px;
		@media screen and (min-width: $tabwidth) {
			line-height: 35px;
		}
	}
	ul.gform_fields li.gfield select {
		height: 43px!important;
		line-height: 43px!important;
		@media screen and (min-width: $tabwidth) {
			height: 35px!important;
			line-height: 35px!important;
		}
	}
}
/* Sitemap */
.page-link-list {
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
		padding-left: 16px;
		&:before {
			content:"";
			display: block;
			width: 7px;
			height: 7px;
			background: $color_lime;
			position: absolute;
			top: 9px;
			left: 0;
		}
	}
	li ul {
		margin-left: 13px;
	}
	a {
		color: $color_lime;
		text-decoration: none;
		font-size: 16px;
		&:hover {
			color: $color_grey;
		}
	}
}
.margintop {
	margin-top: 30px;
}
.head1 {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3;
	color: $color_grey;
	text-transform: uppercase;
	margin: 0 0 20px;
	padding-bottom: 10px;
	//border-bottom: 1px solid $color_grey;
	border-bottom: 1px solid $color_lime;
}
.head1.single-title {
	a {
		color: $color_grey;
		text-decoration: none;
		&:hover {
			color: $color_lime;
		}
	}
	span.current {
		text-transform: none;
	}
	span.sep {
		padding: 0 2px;
	}
}
.content-with-sb,
.portfolio-content {
	min-height: 25em;
	.col-left {
		width: 100%;
		margin-bottom: 20px;
		float: left;
		position: relative;
		z-index: 10;
		overflow: hidden;
		@include md {
			width: 25%;
			float: left;
			margin-bottom: 0;
		}
	}
	.col-right {
		width: 100%;
		float: left;
		overflow: hidden;
		@include md {
			width: 70%;
			float: right;
		}
	}
}
.map-wrapper {
	overflow: hidden;
	margin-top: 5px;
	width: 100%;
	float: left;
	min-height: 400px;
	iframe {
		border: none;
		width: 100%!important;
		height: 480px!important;
		position: relative;
		top: -55px;
		float: left;
	}
}
ul.sblocations.categories,
ul.sblocations {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	width: 100%;
	float: left;
	li {
		position: relative;
		margin-top: 20px;
		padding-left: 30px;
		z-index: 3;
		@include md {
			padding-left: 14px;
		}
	}
	a {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: $color__text-main;
	}
	a.name {
		color: $color_lime;
		text-transform: uppercase;
		padding-left: 15px;
		left: -14px;
		.xcon {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 14px;
		}
		&:hover {
			opacity: .5;
		}
	}
	address {
		display: block;
		width: 100%;
		margin: 0 0;
		font-style: normal;
	}
}
ul.sblocations li.first {
	margin-top: 0!important;
}

.coltxt {
	position: relative;
	width: 100%;
	float: left;
	h2.ctitle {
		margin: 0 0 10px;
		color: $color_lime;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 400;
	}
	&.col1 {
		margin-bottom: 30px;
	}
	@include md {
		width: 48%;
		&.col1 {
			float: left;
			margin-bottom: 0;
		}
		&.col2 {
			float: right;
		}
	}
	.ctext p {
		margin-top: 0;
	}
	a {
		color: $color_lime;
		font-weight: 500;
		text-decoration: underline;
	}
}
.hasmap {
	.coltxt {
		margin-top: -35px;
	}
}
.contact-page .gform_wrapper {
	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
		border-radius: 0px!important;
		box-shadow: none;
		outline: none;
		border: 1px solid #edeeee;
		background: #edeeee;
		@include transition(all ease-out .3s);
		&:focus {
			border: 1px solid $color_lime;
			box-shadow: 0px 0px 5px 0px rgba(147,201,14,0.75);
		}
	}
	textarea {
		height: 200px!important;
	}

	.gform_footer input.button,
	.gform_wrapper .gform_footer input[type=submit] {
		background: $color_lime;
		border: 1px solid $color_lime;
		border-radius: 0px!important;
		color: #FFF;
		font-weight: 500;
		text-transform: capitalize;
		&:hover {
			background: #aee22e;
		}
	}
	.gfield_required {
		color: $color_lime;
	}
	ul.gform_fields li.gfield {
		margin-top: 0;
		padding-right: 0!important;
		padding-bottom: 15px;
	}
	&.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
		max-width: 100%!important;
		width: 100%!important;
	}
	.field_description_below .gfield_description {
		padding-top: 0px;
	}
	.gform_footer {
		padding-top: 0;
		margin-top: 10px;
	}
}
.masonry-wrapper {
	width: 100%;
	float: left;
	// columns: 2;
	// @media screen and (min-width: $tabwidth) {
	// 	columns: 2;
	// }
	// @media screen and (min-width: $midwidth) {
	// 	columns: 3;
	// 	column-gap: 15px;
	// }
}
.masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    overflow: hidden;
}
.project-list {
	.flexrow {
		@media screen and (min-width: $tabwidth) {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	.proj-info {
		position: relative;
		// height: 175px;
		width: 100%;
		margin: 7px 0;
		width: 100%;
		margin: 15px 0;
		@include transition(all ease-in-out .3s);
		@media screen and (min-width: $tabwidth) {
			// height: 180px;
			width: 50%;
			padding: 10px;
			margin: 0 0;
		}
		@media screen and (min-width: $deskwidth) {
			// height: 230px;
			width: 33.29%;
		}
	}
	.proj-image {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
    	z-index: 10;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include transition(all ease-in-out .3s);
	}
	.proj-block {
		cursor: pointer;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		top: 0;
		left: 0;
		z-index: 5;
	}
	.proj-block:hover {
		.proj-image {
			transform: scale(1.1);
		}
	}
	img.px {
		width: 100%;
		height: auto;
		position: relative;
		z-index: -1;
		float: left;
	}
	.caption {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.65);
		color: #FFF;
		z-index: 15;
		opacity: 0;
		visibility: hidden;
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		@include transition(all ease-out .3s);
		.wrap {
			display: block;
			width: 100%;
			padding: 15px;
			text-align: center;
			line-height: 1.1;
			margin-top: 10%;
			@include transition(all ease-out .3s);
		}
		.projname {
			display: block;
			width: 100%;
			font-size: 15px;
			line-height: 1.3;
			text-transform: uppercase;
			color: $color_lime;
			margin-bottom: 3px;
		}
		.opt {
			display: inline-block;
			font-size: 13px;
			font-style: normal;
			font-weight: 300;
			line-height: 1.2;
			padding: 0 8px 0 7px;
			word-wrap: break-word;
		}
		.opt:last-child {
			border-right: 0;
		}
	}
	.proj-block:hover {
		.caption {
			opacity: 1;
			visibility: visible;
			.wrap {
				margin-top: 0;
				transition-delay: .2s;
			}
		}
	}
}
.portfolio-content {
	padding-bottom: 50px;
}
.portfolio-categories {
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		position: relative;
	}
	li {
		position: relative;
		z-index: 5;
	}
	a {
		display: inline-block;
		text-decoration: none;
		position: relative;
		color: $color_grey;
	}
	a.parent {
		text-transform: uppercase;
		padding: 5px 0;
		&:hover {
			color: $color_lime;
		}
	}
	a.child {
		display: block;
		padding:3px 10px 3px 23px;
		font-size: 14px;
		background: transparent;
		span {
			position: relative;
			z-index: 5;
		}
		&:before {
			content:"";
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 100%;
			background: $color_grey;
			position: absolute;
			top: 11px;
			left: 10px;
			z-index: 2;
		}
	}
	ul.children a.child:hover,
	ul.children li.active a.child {
		color: $color_lime;
		&:before {
			background: $color_lime;
		}
	}
	li.active a.parent {
		color: $color_lime;
	}
	ul.children {
		padding-left: 10px;
		padding-right: 10px;
	}
}
ul.categories {
	position: relative;
	overflow: hidden;
}
ul.categories > li:hover > a {
	color: $color_lime;
}
ul.categories:after {
	content:"";
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid $color_lime;
	position: absolute;
	top: 0;
	left: 0;
	@include md {
		display: none;
	}
}
ul.categories .catlink {
	display: none;
	padding: 0 15px;
	@include md {
		display: block;
		padding: 0 0;
	}
}
ul.categories.open {
	padding-bottom: 15px;
	.catlink {
		display: block;
	}
}

.mobile-cat-label {
	display: block;
	text-align: center;
	background: $color_lime;
	cursor: pointer;
	padding: 0 0!important;
	margin-top: 0!important;
	a {
		display: block!important;
		padding: 5px 10px;
	}
	@include md {
		display: none;
	}
	span.txt {
		display: inline-block;
		text-transform: uppercase;
		color: #FFF;
	}
	span.icon {
		position: relative;
		left: 5px;
	}
}
ul.categories.open .mobile-cat-label {
	margin-bottom: 15px;
}

.project-sliders {
	position: relative;
	height: 300px;
	overflow: hidden;
	@media screen and (min-width: $tabwidth) {
		height: 420px;
	}
	@media screen and (min-width: $midwidth) {
		height: 450px;
	}
	@media screen and (min-width: $deskwidth) {
		height: 480px;
	}
	.project-images {
		width: 100%;
		height: 100%;
		position: relative;
	}
	ul.sliders {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		width: 100%;
		height: 100%;
		overflow: hidden;
		text-align: center;
	}
	img.ssimage {
		width: auto;
		height: 100%;
		margin: 0 auto;
	}
	.slide {
		width: 100%;
		height: 100%;
		position: relative;

	}
	.ps-image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.flex-control-nav {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		bottom: 0;
		z-index: 100;
	}
	.flex-control-nav li {
		margin: 0 4px;
	}
	.flex-control-nav li a:hover {
		background: rgba(255,255,255,.5);
	}
	.flex-control-paging li a {
		width: 10px;
		height: 10px;
		background: transparent;
		border: 1px solid #FFF;
		&.flex-active,
		&.flex-active:hover {
			background: $color_lime;
		}
	}
	.flex-direction-nav a {
		opacity: 0.8;
		z-index: 100;
		&:before {
			color: #FFF;
			font-size: 25px;
			position: relative;
			top: 2px;
			text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
		}	
		&:hover {
			opacity: 1;
		}
	}
	.flex-direction-nav .flex-prev {
		left: 3px;
		&:before {
			left: 14px;
		}
	}
	.flex-direction-nav .flex-next {
		right: 3px;
		&:before {
			right: 14px;
		}
	}

}

.project-details {
	padding-top: 30px;
	font-size: 14px;
	width: 100%;
	float: left;
	position: relative;
	.project-inner {
		position: relative;
		width: 100%;
		float: left;
	}
	@media screen and (min-width: $tabwidth) {
		.project-inner.two-column:after {
			content:"";
			display: block;
			width: 22%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-right: 1px solid $color_dark_grey;
		}
	}
	.projcol {
		position: relative;
		z-index: 10;
	}
	.options {
		@media screen and (min-width: $tabwidth) {
			width: 22%;
			float: left;
		}
	}
	.details.half {
		@media screen and (min-width: $tabwidth) {
			width: 74%;
			float: right;
		}
	}
	.projectname {
		color: $color_lime;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 0 0 5px;
	}
	.details p {
		margin-top: 0;
	}
	.option {
		margin-top: 1px;
		margin-bottom: 15px;
	}
	.option:last-child {
		margin-bottom: 0;
	}
	.o-name {
		font-size: 12px;
		text-transform: uppercase;
		color: $color_lime;
	}
	.o-info {
		font-size: 12px;
		position: relative;
		top: -4px;
	}
}

.pagination-links {
	margin-top: 15px;
	text-align: right;
	width: 100%;
    float: left;
	span,a {
		display: inline-block;
		text-decoration: none;
		font-size: 14px;
		line-height: 14px;
		padding: 6px 10px;
		margin-left: 4px;
	}
	a {
		background: #bfbfbf;
		color: #FFF;
		&:hover {
			opacity: .45;
		}
	}
	.current {
		color: #FFF;
		background: $color_lime;
	}
}
.lastest_post_image {
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
	.featImage {
		width: 100%;
		height: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #ccc;
		@include md {
			width: 50%;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
		@include lg {
			width: 68%;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			@include md {
				display: none;
			}
		}
	}

	.last-post-excerpt {
		width: 100%;
		position: relative;
		color: #FFF;
		background: $color_dark_grey;
		z-index: 10;
		float: left;
		@include md {
			width: 50%;
		}
		@include lg {
			width: 32%;
		}
	}

	.placeholder {
		background-size: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #FFF;
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.12);
		}
	}
	
	&.no-feat-image {
		.last-post-excerpt {
			width: 100%;
		}
	}

	h2.title {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.2;
		text-transform: uppercase;
		background: $color_lime;
		color: #FFF;
		margin: 0 0;
		padding: 8px 15px;
	}
	.excerpt {
		color: #FFF;
		font-size: 12px;
		line-height: 1.6;
		padding: 15px;
		a {
			color: #FFF;
		}
	}
	a.readmore {
		margin-top: 10px;
		display: inline-block;
		text-decoration: none;
		color: $color_lime;
		font-weight: 500;
		&:hover {
			color: #FFF;
		}
	}
}
.post-items-wrap {
	width: 100%;
	float: left;
	padding-top: 10px;
	.itemrows {
		margin-left: -10px;
		margin-right: -10px;
	}
	.pagination-links {
		margin-top: 25px;
	}
}
.post-item-block {
	display: block;
	text-decoration: none;
	width: 100%;
	break-inside: avoid;
 	padding: 10px 10px;
 	font-size: 13px;
 	position: relative;
 	overflow: hidden;
 	@include sm {
 		width: 50%;
 	}
 	@include md {
 		width: 33.333%;
 	}
	img.feat {
		width: 100%;
		height: auto;
		float: left;
	}
	.wrap {
		display: block;
		width: 100%;
		height: 100%;
		background: $color_grey;
	}
	.post-excerpt {
		box-sizing: border-box;
		display: block;
		width: 100%;
		height: 100%;
		color: #FFF;
		padding: 15px;
	}
	.thumb {
		display: block;
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #333;
		@include sm {
	 		height: 160px;
	 	}
	 	@include md {
	 		height: 170px;
	 	}
	}
	.ptitle {
		display: block;
		width: 100%;
		margin-bottom: 8px;
		text-transform: uppercase;
		span.title {
			display: inline-block;
			width: 100%;
			float: left;
			@media screen and (min-width: $midwidth) {
				width: 65%;
			}
		}
		span.date {
			display: inline-block;
			width: 100%;
			float: right;
			font-size: 12px;
			text-align: left;
			@media screen and (min-width: $midwidth) {
				width: 30%;
				float: right;
				text-align: right;
			}
		}
	}
	.image {
		display: block;
		border-bottom: 2px solid $color_lime;
	}
	.readmore {
		display: block;
		color: #dedada;
		margin-top: 6px;
	}
	&:hover {
		.readmore {
			color: #FFF;
		}
	}
}
.single-post-Image {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}
.post-header {
	width: 100%;
	position: relative;
	h1 {
		display: inline-block;
		text-transform: uppercase;
		color: $color_lime;
		font-size: 20px;
		font-weight: 400;
		margin: 0 0;
	}
}
.post-date {
	font-size: 14px;
	padding-left: 5px;
	color: #b1b1b1;
}
.post-content {
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 1.6;
	a {
		color: $color_lime;
		text-decoration: underline;
		font-weight: 500;
		&:hover {
			color: $color_grey;
		}
	}
}

.single-page-content {
	padding-top: 20px;
	padding-bottom: 50px;
}

.the-team {
	.flexrow {
		margin-left: -10px;
		margin-right: -10px;
		@include sm {
			@include flexbox-justify(center);
		}
	}
	.info {
		width: 100%;
		padding: 10px 10px;
		overflow: hidden;
		@include sm {
			width: 50%;
		}
		@include md {
			width: 25%;
		}
		@include lg {
			width: 16.666%;
		}
	}
	.inside {
		background: $color_dark_grey;
		color: $color_lime;
		height: 100%;
	}
	.photodiv {
		text-decoration: none;
		display: block;
		position: relative;
		border-bottom: 2px solid $color_lime;
		background-size:cover;
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #CCC;
		width: 100%;
	}
	img {
		width: 100%;
		height: auto;
		visibility: hidden;
	}
	img.team-photo {
		display: none;
	}
	.name {
		padding: 10px 15px;
	}
	h3 {
		color: $color_lime;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		margin: 0 0 5px;
	}
	a.link {
		font-family: $font-secondary;
		font-size: 13px;
		font-weight: 300;
		color: #797979;
		text-decoration: none;
		span {
			display: inline-block;
			transform: translateX(0);
			position: relative;
			left: -1px;
			@include transition(all ease-out .3s);
		}
		&:hover {
			color: #cacaca;
			span {
				transform: translateX(50%);
			}
		}
	}
}
.default-temp {
	.entry-header {
		h1 {
			display: inline-block;
			font-size: 18px;
		    font-weight: 400;
		    color: $color_grey;
		    text-transform: uppercase;
		    margin: 0 0 20px;
		    padding-bottom: 10px;
		    border-bottom: 1px solid $color_lime;
		    width: 100%;
			@include sm {
				padding-right: 3%;
				width: auto;
				min-width: 15.3%;
			}
		}
	}
}
.col-sidebar {
	ul.links {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {

	}
	a {
		display: inline-block;
		text-decoration: none;
		position: relative;
		color: $color_grey;
		padding: 3px 0;
		&:hover {
			color: $color_lime;
		}
	}
}
.block-info {
	.photo {
		margin-top: 5px;
		@include sm {
			width: 25%;
			float: left;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.infotext {
		&.half {
			@include sm {
				width: 70%;
				float: right;
			}
		}
		p {
			margin-top: 0;
		}
	}
	.pagetitle {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		color: $color_lime;
		text-transform: uppercase;
		margin: 0 0 12px;
	}
	.jobtitle {
		display: block;
		width: 100%;
		font-size: 14px;
		color: $color__text-main;
		padding-top: 4px;
	}
	.greentxt {
		color: $color_lime;
		text-transform: uppercase;
	}
	.contact-details {
		padding-top: 10px;
	}
	.contact-details a {
		color: $color__text-main;
		text-decoration: none;
		&:hover {
			color: $color_lime;
		}
	}
}

/* Careers */
.flexhead {
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
}
.careers-header {
	position: relative;
	z-index: 200;
	.wrapper {
		position: relative;
	}
	.logo {
		@include sm {
			width: 30%;
		}
	}
	.logo a {
		max-width: 260px;
		width: 100%;
		position: relative;
		top: 1px;
	}
	.toplinks {
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		width: 100%;
		text-align: center;
		padding: 8px 0 20px;
		@include sm {
			padding: 0 0;
			width: 70%;
			text-align: left;
		}
		.wrap {
			width: 100%;
		}
	}
	ul.cats {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		position: relative;
		@include sm {
			display: inline-block;
			float: right;
			right: -20px;
		}
	}
	ul.cats li {
		display: inline-block;
		@include sm {
			float: left;
		}
	}
	ul.cats a {
		display: inline-block;
		text-decoration: none;
		color: #888b8d;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 1px;
		padding: 4px 15px;
		position: relative;
		@include sm {
			padding: 5px 21px 5px 20px;
			font-size: 16px;
		}
		&:after {
			content:"";
			width: 1px;
			height: 18px;
			background: #888b8d;
			position: absolute;
			top: 8px;
			right: 0;
		}
	}
	ul.cats li:last-child a {
		&:after {
			display: none;
		}
	}
	ul.cats li:hover > a {
		color: $color-lime;
	}
}
.careers-main-navigation {
	max-width: 280px;
	width: 100%;
	position: absolute;
	right: 20px;
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	.main-menu-wrapper {
		width: 100%;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		position: relative;
		top: 15px;
		height: 0;
		@include transition(all ease-out .3s);
		.menu {
			border: 1px solid #e4e4e4;
			background: rgba(255,255,255,.98);
			@include transition(all ease-out .3s);
			@include transform( translateY(-100%) );
			@include sm {
				border: none;
			}
		}
	}
	.menu a {
		text-decoration: none;
		display: block;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #888b8d;
		padding: 8px 15px;
		border-top: 1px dotted #cacaca;
		&:hover {
			background: $color-lime;
			color: #FFF;
		}
	}
	.menu li.first > a {
		border-top: none;
	}
	.togglewrap {
		text-align: right;
		span {
			position: relative;
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: #FFF;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 1px;
			height: 40px;
			position: relative;
			top: 16px;
			outline: none;
		}
	}
	span.lbl {
		top: -12px;
		padding-right: 10px;
	}
	span.burger {
		display: inline-block;
		width: 30px;
		height: 100%;
		background: transparent;
		position: relative;
		span, span:before, span:after {
			display: block;
			width: 100%;
			height: 3px;
			background: rgba(255,255,255,1);
			border-radius: 1px;
			position: absolute;
			@include transition(all ease-out .3s);
		}
		span {
			top: 21px;
		}
		span:before, span:after {
			content:"";
		}
		span:before {
			top: -8px;
		}
		span:after {
			top: 8px;
		}
	}
	&.open {
		span {
			background: transparent!important;
		}
		span:before {
			@include transform( translateY(8px) rotate(45deg) );
		}
		span:after {
			@include transform( translateY(-8px) rotate(-45deg) );
		}

		.main-menu-wrapper  {
			width: 100%;
			opacity: 1;
			visibility: visible;
			height: auto;
			.menu {
				@include transform( translateY(0) );
			}
		}
	}
}
.video-wrapper {
	background-color: #333;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	height: auto;
	min-height: 200px;
	@include sm {
		min-height: 360px;
	}
	@include lg {
		height: 600px;
	}
	@include xl {
		height: 750px;
	}
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
		opacity: 0.5;
	}
	.videowrap {
		width: 100%;
		position: relative;
		@include lg {
			height: 150%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	#video {
		width: 100% !important;
		height: auto !important;
		float: left;
		@include lg {
			min-width: 100%;
			min-height: 100%;
		}
	}
}

.playpauseBtn {
	display: inline-block;
	-webkit-appearance: none;
	outline: none;
	text-shadow: none;
	box-shadow: none;
	background-image:url("images/play.png");
	background-position: 30px 20px;
	background-size: 33%;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0);
	border: 3px solid rgba(255,255,255,1);
	border-radius: 100%;
	width: 80px;
	height: 80px;
	color: transparent;
	color: #FFF;
	text-indent: -999em;
	overflow: hidden;
	opacity: 0.7;
	@include transition(all ease-out .3s);
	&:hover {
		-webkit-appearance: none;
		outline: none;
		text-shadow: none;
		box-shadow: none;
		background-color: rgba(255,255,255,0.3);
	}
}

#video-controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	@include flexbox();
	@include flexbox-align-items(center);
	@include flexbox-justify(center);
	button {
		-webkit-appearance: none;
		outline: none;
		text-shadow: none;
		box-shadow: none;
		@include transition(all ease-out .3s);
		&:hover {
			-webkit-appearance: none;
			outline: none;
			text-shadow: none;
			box-shadow: none;
		}
		&.pause {
			background-image:url("images/pause.png");
			background-position: 16px 14px;
			background-size: 30%;
			background-color: rgba(255,255,255,.3);
			opacity: 0.65;
			position: absolute;
			bottom: 15px;
			left: 15px;
			width: 50px;
			height: 50px;
			border: 3px solid transparent;
		}
	}
}
.page-template-page-careers {
	.site-content.wrapper {
		max-width: 100%;
		width: 100%;
		padding: 0 0;
	}
}

.careers-content {
	position: relative;
	.pageheader {
		width: 100%;
		margin: 0 0;
		position: absolute;
		top: 27px;
		left: 0;
		z-index: 10;
		span.sidehline {
			content:"";
			display: block;
			width: 14%;
			height: 2px;
			background: $color-lime;
			position: absolute;
			top: 12px;
			&.left {
				left: 0;
			}
		}
		h1 {
			margin: 0 0;
			font-weight: 300;
			font-size: 20px;
			color: #FFF;
			line-height: 1.2;
		}
	}
	.site-main {
		font-size: 16px;
		padding: 40px 0 30px;
	}
	.intro {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		&:after {
			content:"";
			display: inline-block;
			max-width: 150px;
			width: 30%;
			height: 2px;
			background: $color-lime;
			margin: 30px  auto 0;
		}
	}
}
.midtitle {
	margin: 35px 0 0;
	font-size: 20px;
	font-weight: 400;
	color: $color-lime;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.office-locations {
	margin-top: 25px;
	.flexwrap {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		margin-left: -15px;
		margin-right: -15px;
	}
	.location {
		box-sizing: border-box;
		padding: 15px;
		@include sm {
			width: 50%;
		}
		@include md {
			width: 25%;
		}
	}
	.name {
		color: #FFF;
		font-size: 16px;
		font-weight: 600;
		margin: 0 0 3px;
		text-transform: uppercase;
	}
	.box1 {
		padding: 10px 15px 20px;
		background: $color-lime;
		color: #FFF;
		text-align: center;
	}
	.mapdiv {
		text-align: center;
		padding: 10px 10px;
		img {
			@include sm {
				height: 120px;
				width: auto;
			}
		}
	}
	address {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.4;
		margin: 0 0;
	}
	.phone {
		color: #FFF;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.4;
		padding-top: 1px;
	}
	.phone a {
		color: #FFF;
		text-decoration: none!important;
		&:hover {
			opacity: 0.5;
		}
	}
	.box-video {
		position: relative;
	}
	.box-video video {
		min-width: 100%;
		min-height: 100%;
		width: 100%!important;
		height: auto!important;
		float: left;
		position: relative;
		z-index: 10;
	}
	.box-video .thumb {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}
	.loc-video-controls {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 12;
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
	}
	.playpauseBtn {
		width: 50px;
		height: 50px;
		border: 2px solid #FFF;
		background-position: 19px 12px;
		position: relative;
		&.pause {
			background-image:none!important;
			opacity: 0.4;
			&:before, &:after {
				content: "";
				display: block;
				width: 4px;
				height: 18px;
				background: #FFF;
				position: absolute;
				top: 14px;
			}
			&:before {
				left: 17px;
			}
			&:after {
				left: 26px;
			}
		}
	}
	.weather-title {
		background: #757471;
		color: #FFF;
		padding: 5px 15px;
		text-align: center;
	}
	.box-weather {
		position: relative;
		overflow: hidden;
		iframe {
			border: none!important;
			width: 100%!important;
		}
		a {
			display: block;	
			overflow: hidden;
		}
		.cover {
			width: 100%;
			height: 100%;
			background: transparent;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
		}
	}
	.infowrap {
		height: 115px;
		overflow: hidden;
		position: relative;
	}
	.weather-info {
		width: 50%;
		position: absolute;
		top: 0;
		left: 20px;
		height: 100%;
		@include flexbox();
		@include flexbox-align-items(center);
		
		.sr-only {display:none;}
		a {
			display: block;
			width: 105px!important;
			height: 90px!important;
			overflow: hidden;
			position: relative;
			top: -3px;
		}
	}
	.weatherdata {
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		
		.data {
			display: inline-block;
			width: auto;
			div {
				display: block;
				text-align: left;
				font-size: 26px;
			}
		}
		.celcius {
			color: #777;
		}
		.fahrenheit {
			color: #000;
			padding-bottom: 2px;
			border-bottom: 2px solid $color-lime;
		}
	}
	.location .wrapinner {
		border: 1px solid $color-lime;
	}
	.description {
		font-size: 13px;
		line-height: 1.5;
		font-weight: 400;
	}
	.summary {
		display: none;
		width: 100%;
		text-align: center;
		font-size: 12px;
		position: relative;
		bottom: 10px;
		@include md {
			width: 50%;
			text-align: left;
			font-size: 12px;
			position: absolute;
			bottom: 10px;
			padding-left: 40px;
			line-height: 1.1;
		}
	}
}

.testimonials-section {
	background: #27251f;
	color: #FFF;
	position: relative;
	min-height: 250px;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	.wrapper {
		@include sm {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.flex-viewport {
		max-height: 100%!important;
	}
	.wrapper,
	.innerwrap {
		position: relative;
	}
	.innerwrap {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-align-content(center);
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.author {
		color: $color-lime;
		font-size: 14px;
		line-height: 1.3;
		padding: 18px 0 0;
	}
	ul.slides {
		@include flexbox();
		@include flexbox-align-items(center);
	}
	ul.slides .middle {
		text-align: center;
		padding: 10% 15%;
		@include sm {
			padding: 5% 12%;
		}
		p:first-child {
			margin-top: 0;
		}
		p {
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
	.flex-control-paging {
		display: none!important;
	}
	.flex-direction-nav a {
		opacity: 1;
		color: transparent!important;
		text-shadow: none;
		font-size: 1px;
		width: 40px;
		height: 45px;
		&:before,&:after {
			position: absolute;
			top: 0;
			left: 18px;
			content:"";
			display: block;
			width: 1px;
			height: 25px;
			background: #FFF;
			color: transparent!important;
			text-shadow: none;
		}
		&:before {
			transform: rotate(-40deg);
		}
		&:after {
			transform: translateY(19px) rotate(40deg);
		}
		&.flex-prev {
			transform: rotateY(180deg);
		}
	}
}

.careers-bottom-articles {
	padding: 5% 0;
	.flexbox {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.info {
		margin: 0 0 30px;
		width: 100%;
		@include md {
			margin: 0 0;
			width: 33.333%;
		}
	}
	.cimage {
		text-align: center;
		margin-bottom: 30px;
		.img {
			display: inline-block;
			width: 200px;
			height: 200px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.inside {
		height: 100%;
		overflow: hidden;
	}
	.text {
		padding: 0 0 25px;
		border-bottom: 1px solid #333;
		@include md {
			height: 100%;
			padding: 0 25px;
			border-bottom: none;
			border-left: 1px solid #333;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	.info.first .text {
		border-left: none;
	}
	.info:last-child .text {
		border-bottom: none;
	}
	.ctitle {
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 20px;
		color: $color-lime;
		line-height: 1.3;
		margin: 0 0 10px;
		padding: 0 20px;
	}
}
.open-positions {
	margin-bottom: 35px;
	.section-title {
		background: $color-lime;
		color: #FFF;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		padding: 5px 0;
	}
	.section-text {
		background: #27251f;
		color: #FFF;
		font-size: 15px;
		line-height: 1.2;
		padding: 8px 15px;
		text-align: center;
	}
	.jobs {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.joblist {
		background: #f1f1f1;
		padding: 25px 25px;
		width: 100%;
		overflow: hidden;
	}
	.column2 {
		.joblist {
			width: 100%;
			@include sm {
				width: 50%;
			}
		}
	}
	.column3 {
		.joblist {
			width: 100%;
			@include md {
				width: 33.33%;
			}
		}
	}
	.column4, .column5, .column6 {
		.joblist {
			width: 100%;
			@include sm {
				width: 50%;
				margin-bottom: 5px;
			}
			@include md {
				width: 25%;
				margin-bottom: 0;
			}
		}
	}
	.joblist:nth-child(even) {
		background: #e0e0e0;
	}
	.loc {
		color: #27251f;
		font-weight: 500;
		text-transform: uppercase;
		margin: 0 0 10px;
	}
	ul.listings {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			padding: 4px 0;
			line-height: 1.1;
		}
		a {
			text-decoration: none;
			color: #27251f;
			font-weight: 400;
			font-size: 13px;
			line-height: 1.2;
			.arrow {
				display: inline-block;
				position: relative;
				top: 1px;
				margin-right: 0;
				@include transition(all ease .3s);
			}
			&:hover {
				color: $color-lime;
				.arrow {
					transform: translateX(2px);
				}
			}

		}
	}
}

.subpage-banner {
	border-top: 2px solid $color-lime;
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}
.middle-content {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	font-size: 18px;
    font-weight: 400;
    p a {
    	color: #7fb302;
    	text-decoration: none;
    	&:hover {
    		color: #c2d208;
    	}
    }
}
.page-template-page-about {
	.site-content.wrapper {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
.aboutpage {
	.flexbox {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.row3 {
		background: $color-lime;
		color: #FFF;
		.col {
			width: 100%;
			@include sm {
				width: 49.95%;
			}
		}
		.col.imagecol {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #909090;
			img {
				width: 100%;
				height: auto;
				float: left;
				visibility: visible;
				@include sm {
					visibility: hidden;
				}
			}
		}
		.inside {
			height: 100%;
			@include flexbox();
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
			.text {
				padding: 5% 10%;
				font-size: 16px;
				line-height: 1.6;
				@include md {
					padding: 10% 25% 10% 10%;
				}
				a {
					color: #fff348;
					text-decoration: none;
					&:hover {
						color: #f3efbb;
					}
				}
			}
		}
	}
	.bottom-articles {
		padding: 70px 0;
		.flexbox {
			margin-left: -12px;
			margin-right: -12px;
			@include md {
				margin-left: -20px;
				margin-right: -20px;
			}
		}
		.article {
			width: 100%;
			margin: 20px 0;
			@include sm {
				width: 33.33%;
				margin: 0 0;
			}
		}
		.inside {
			padding: 0 12px;
			@include md {
				padding: 0 20px;
			}
		}
		.feat-image {
			border-bottom: 2px solid $color-lime;
			padding-bottom: 25px;
			margin-bottom: 18px;
			width: 100%;
			float: left;
			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}
		.description {
			width: 100%;
			float: left;
			p:first-child {
				margin-top: 0;
			}
			p {
				margin-top: 15px;
				margin-bottom: 0;
			}
			p a {
		    	color: #7fb302;
		    	text-decoration: none;
		    	&:hover {
		    		color: #c2d208;
		    	}
		    }
		}
	}
}
.page-template-page-services {
	.site-content.wrapper {
		max-width: 100%;
		padding: 0 0;
	}
}
.services-info {
	.title {
		background-color: $color-lime;
		text-transform: uppercase;
		font-size: 23px;
		font-weight: 300;
		line-height: 1.2;
		text-align: center;
		color: #FFF;
		padding: 10px 20px;
		margin: 0 0;
	}
	.flexbox {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.svrow:focus {
		outline: none;
	}
	.fbox {
		@include md {
			// height: 100%;
			width: 50%;
		}
	}
	.fbox.imagecol {
		background-color: #333;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		img {
			visibility: hidden;
		}
	}
	.textcol {
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		.text {
			font-size: 16px;
			line-height: 1.6;
			padding: 30px;
			@include lg {
				padding: 8% 10%;
			}
		}
		p:first-child {
			margin-top: 0;
		}
		p {
			margin-top: 16px;
			margin-bottom: 0;
		}
	}
	.svrow.odd {
		.imagecol {
			@include md {
				transform: translateX(100%);
			}
		}
		.textcol {
			@include md {
				transform: translateX(-100%);
			}
		}
	}
}

body.error404 {
	.site-content.wrapper {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.entry-title {
		margin-top: 35px;
		margin-bottom: 0;
		text-align: center;
	}
	p {
		margin-top: 0;
	}
	.page-content, ul.linklist {
		display: inline-block;
	}
	ul.linklist {
		text-align: left;
	}
}

